{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Basics</title>
    <link rel="stylesheet" href="{% static 'css/css_basics.css' %}">
</head>
<body>
    <h1>CSS Basics</h1>

    <p>This is a paragraph</p>

    <div class="divone">
        <h2>This is div one</h2>

    </div>

    <div class="divtwo">
        <h2>This is div two</h2>

    </div>

    <ol>
        <li>Item One</li>
        <li>Item Two</li>
        <li>Item Three</li>
    </ol>
</body>
</html>