{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Fonts</title>
    <link rel="stylesheet" href="{% static 'css/css_fonts.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Varela" rel="stylesheet">
</head>
<body>
    <h1>This is a header font</h1>

    <p>Frondator observares, tanquam grandis racana. Asparagus combines greatly with thin sausages.
    Jolly rogers wave on amnesty at jamaica!</p>

    <p id="another">I control this tragedy, it's called galactic ellipse.</p>

    <p id="customfont">Ales whine from treasures like undead hornpipes.</p>
</body>
</html>