{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectrum Project</title>
    <link rel="stylesheet" href="{% static 'css/css_spectrum.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merienda|Oxygen|Varela" rel="stylesheet">
</head>
<body>
    <h1>Inspired by Spectrum V</h1>
    <table>
        <tr>
            <td id="one"></td>
            <td id="two"></td>
            <td id="three"></td>
            <td id="four"></td>
            <td id="five"></td>
        </tr>
    </table>
</body>
</html>