<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basics HTML</title>
</head>
<body>
    <!--Comment-->
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h6>Heading 6</h6>

    <p>This is a paragraph</p>
    <p>This is line two</p>
    <p>This is line three</p>
    <p>Quickly, indeed.</p>

    <!--Old way-->
    <p><b>This is text in bold.</b></p>
    <p><i>This is text in italics.</i></p>

    <!--New way-->
    <p>This is text in <strong>bold.</strong></p>
    <p>This is text in <em>italics.</em></p>

</body>
</html>