<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms Basic</title>
</head>
<body>
    <form>
        <h1>Log In</h1>
        <h2>Please input your email and password.</h2>

        <input type="email" name="user_email" value="">
        <input type="password" name="user_password" value="">
        <input type="submit" name="" value="Submit">
    </form>
    <form>
        <h1>Choose Colour</h1>
        <h2>Click on button.</h2>

        <input type="color" name="color_picker" value="">
    </form>
    <form>
        <h2>Enter some text.</h2>

        <input type="text" name="text_enter" value="">
    </form>

</body>
</html>