<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assessment Two</title>
</head>
<body>
    <h1>Course Sign Up Page</h1>

    <p>Please Note: First Name, Last Name, and Email are required</p>
    <form>
        <label for="firstname">First Name:</label>
        <input id="firstname" type="text" placeholder="First Name" required>

        <label for="lastname">Last Name:</label>
        <input id="lastname" type="text" placeholder="Last Name" required><br><br>

        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="name@email.com" required>

        <label for="password">Password:</label>
        <input id="password" type="password">

        <p>Are you over 18?</p>
        <label for="over_age">Yes:</label>
        <input id="over_age" type="radio" name="age_check" value="over">
        <label for="under_age">No:</label>
        <input id="under_age" type="radio" name="age_check" value="over">

        <p>Do you have a credit card or PayPal?</p>
        <select name="payment">
            <option>Credit Card</option>
            <option>PayPal</option>
        </select><br><br>

        <input type="submit" value="Sign Up">
    </form>
</body>
</html>